#phoning-home {
  text-anchor: middle;
}

.list-item {
  height: 114;
}

.list-item text {
  fill: "white";
  text-anchor: start;
  x: 50;
  font-size: 24;
  text-length: 64;
}

.line {
  width: 100%;
  height: 6;
  fill: #111111;
  y: 100%-6;
}

#area-list {
  fill: #1c1c1c;
}

/* .bg {
  fill: #222222;
  width: 100%;
  height: 100%;
  x: 0;
  y: 0;
} */

#toggle-button #image {
  /* href: "../bulb-g.png"; */
  opacity: 1;
  fill: #9e9e9e;
}

#toggle-button {
  height: 72;
  width: 72;
  fill: #9e9e9e;
  x: 25;
  y: 50%-39;
  /* opacity: 0.2; */
}

#device-item svg text {
  fill: "white";
  text-anchor: start;
  x: 120;
  font-size: 24;
  text-length: 64;
}

#toggle-button circle {
  opacity: 0.2;
}

#back-button #image {
  /* href: "arrow-back-g.png"; */
  opacity: 1;
  fill: #9e9e9e;
}

#back-button {
  height: 72;
  width: 72;
  fill: #9e9e9e;
  x: 25;
  y: 25;
  /* opacity: 0.2; */
}

#back-button circle {
  opacity: 0.2;
}

#colour-select-white {
  height: 72;
  width: 72;
  x: 20%-24;
  y: 40%;
}

#colour-select-red {
  height: 72;
  width: 72;
  x: 50%-24;
  y: 40%;
}

#colour-select-green {
  height: 72;
  width: 72;
  x: 80%-24;
  y: 40%;
}

#touch {
  width: 100%;
  height: 100%-6;
  x: 0;
  y: 0;
  opacity: 0;
}